:root{
  --primary-color: #f90d0d;
}
.btn-solid{
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  min-width: 150px;
}
.btn-outline{
  border: none;
  padding: 10px;
  min-width: 150px;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: transparent;
}

@media(max-width:578px){
  .btn-solid , .btn-outline{
    width: 100%;

  }
}